* {
    box-sizing: border-box;}

header,section,footer,aside,nav,article{
    display: block;}

body{
    color: #666666;
    background-color: #f9f8f6;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8em;
    margin: 0px;
}

.wrapper{
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

nav{
    clear: both;
    color: #ffffff;
    background-color: #3f4fac;
    height: 50px;}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}

nav li{
    display: inline;
    margin-right: 40px;}

nav li a{
    color:#ffffff;}

nav li a:hover, nav li a.current{
    color: #000000;}

